@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    /* Colors */
    --color-background-gradient-top: hsla(273, 75%, 66%, 1);
    --color-background-gradient-bottom: hsla(240, 73%, 65%, 1);
    --color-text-accordion-active: hsla(238, 29%, 16%, 1);
    --color-text-accordion-hover: hsla(14, 88%, 65%, 1);
    --color-text-accordion: hsla(237, 12%, 33%, 1);
    --color-text-paragraph: hsla(240, 6%, 50%, 1);  
    --color-dividers: hsla(240, 5%, 91%, 1);

    /* Font Family */
    --font-family-main: 'Kumbh Sans', sans-serif;

    /* Fonts Sizes */
    font-size: 12px;
    --font-size-h1-mobile: 3em;
    --font-size-text-mobile: 1em;

    /* Font Weight */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}
